# Python artifacts
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Sphinx build output
docs/build/
docs/os/
docs/sys/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
env/

# OS
.DS_Store
